

@tailwind base;
@tailwind components;
@tailwind utilities;


body { 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ck-editor__editable {
  min-height: 300px; /* Adjust the height as per your requirement */
}

/* width */
::-webkit-scrollbar {
 display: none;
}

.home-text{
  font-size:80px;
}